body{
    background-color: rgb(24, 20, 44);
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 2s;
    color: rgb(251, 251, 198);
    text-align: center;
}

h6{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 130%;
    text-align: center;
    color: rgba(255, 255, 189, 0.553);
    margin-top: -2%;
}

button {
    color: rgb(251, 251, 198);
    background-color: #526b98;
    font-size: 25px;
    border-radius: 28px;
    padding: 15px 50px;
    letter-spacing: 0px;
    cursor: pointer;
    font-family: "Wix Madefor Display", sans-serif;
    
}
button:hover {
    color: #1b3b77;
    background-color: rgb(252, 252, 220);
}

.center{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#blur:hover{
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 1s;
}





    .topnav {
        overflow:hidden;
        background-color: #33333300;
        z-index: 99999;
       font-family: "Wix Madefor Display", sans-serif;
    }
    
    .topnav a {
        float: right;
        color: rgb(251, 251, 198);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: rgb(251, 251, 198);
        color: black;
        filter: blur(1.5px);
        z-index: -99999;
        transition: 1.2s;
        border-radius: 27%;
    }
    
    .topnav a.active {
        background-color: #526b98;
        color: white;
        border-radius: 27%;
    }


