body{
    background-color: rgb(24, 20, 44);
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 2s;
    color: rgb(251, 251, 198);
    text-align: center;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 2s;
    color: rgb(251, 251, 198);
    text-align: center;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 2s;
    color: rgb(251, 251, 198);
    text-align: center;
}

h6{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 130%;
    text-align: center;
    color: rgba(255, 255, 189, 0.553);
    margin-top: -2%;
}

button {
    color: rgb(251, 251, 198);
    background-color: #526b98;
    font-size: 25px;
    border-radius: 28px;
    padding: 15px 50px;
    letter-spacing: 0px;
    cursor: pointer;
    font-family: "Wix Madefor Display", sans-serif;
    
}
button:hover {
    color: #1b3b77;
    background-color: rgb(252, 252, 220);
    transition: 1.2s;
    transition-property: all;
    transition: 1.2s;
    transition-property: all;
}

.center{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#blur:hover{
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 8px rgb(251, 251, 198);
    z-index: 99999;
    transition: 1s;
}






    .topnav {
        overflow:hidden;
        background-color: #33333300;
        z-index: 99999;
        font-family: "Wix Madefor Display", sans-serif;
        font-family: "Wix Madefor Display", sans-serif;
    }
    
    .topnav a {
        float: right;
        color: rgb(251, 251, 198);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: rgb(251, 251, 198);
        color: black;
        filter: blur(1.5px);
        z-index: -99999;
        transition: 1.2s;
        border-radius: 27%;
    }
    
    .topnav a.active {
        background-color: #526b98;
        color: white;
        border-radius: 27%;
    }
    
    .ig{
        width: 15px;
    }
    
    .fa-instagram {
        background: rgb(251, 251, 198);
        color: #526b98;
        position: relative;
        top: 10px;
        left: -3.5%;
    }


    .fa {
        padding: 31px;
        font-size: 30px;
        width: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin-left: 92.9vh;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    .ig-btn{
        height: 10%;
        width: 5%;
        margin-left: 47%;
        position: absolute;
        background: #526b98;
        border-radius: 50%;
        box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
        -webkit-box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
        -moz-box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
    }
    
    .fa-google{
        background: rgb(251, 251, 198);
        color: #526b98;
    margin-top: 10px;
        position:relative;
        top: 10px;
        transition: background-color 0.5s ease-in 0.3s;
        left: -48%;
    }




    .clanocek{
        width: 42%;
        height: 31%;
        margin-top: -23.5%;
        font-weight: 400;
        font-size: 160%;
        margin-left: 3%;
        display: flex;
        z-index: 99999;
    }



    .tops{
        color: antiquewhite;
        font-size: 90%;
        width: 250px;
        height: 270px;
        background-color: rgb(24, 20, 44);
        
        margin: 0;
        position: absolute;
        left: 35%;
        top: 37%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .pants{
        width: 250px;
        height: 360px;
        background-color: rgb(24, 20, 44);
        
        position: absolute;
        left: 35%;
        top: 66%;
        transform: translate(-50%, -50%);
    }

 
    .image-box {
        width: 230px;
        height: 280px;
        background-color: rgb(24, 20, 44);
        text-align: center;
    }

    .image-fit {
        
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .obrazokonas{
        display: flex;
        height:500px; 
        margin-left: 60%; 
        border-radius: 26px;
        
    }

    .obrazokonas2{
        display: flex;
        mix-blend-mode: luminosity;
        margin-left: -142%;
    }

    .clanocek2{
        width: 42%;
        height: 31%;
        margin-top: -23.5%;
        font-weight: 400;
        font-size: 160%;
        margin-left: 50%;
        display: flex;
        z-index: 99999;
    }

    /*---------------GENERATOR BUTTON-------------------- */
.button-52 {
    color: rgb(255, 244, 218);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid rgb(255, 157, 0);
    cursor: pointer;
    position:absolute;
    background-color: rgba(169, 35, 35, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 0%;
    display: flex;
    margin-left: 50%;
    bottom: 40%;
    z-index: 9999999999999;
}

.button-52:after {
    content: "";
    background-color: #6f85d3;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
    padding: 13px 50px 13px;
    }
}
    /*---------------GENERATOR BUTTON-------------------- */

.divyall{
    display: flex;
}



/*--------------------SKUSKA IMAGE GRID ŠATNÍK---------------------------*/
.row {
    margin: 10px -8.3px;
  }
  
  /* Add padding BETWEEN each column */
  
  .row > .column {
    
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float:right;
    width: 30%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    
    padding: px;
    width: 50%;
    mix-blend-mode: lighten;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #526b98;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(255, 240, 220);
    transition-duration: 0.5s;
  }
  


  /*---------------------------*/

  h5{
    color: antiquewhite;
    font-size: 200%;
    text-align: center;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 200;
  }
    
    .ig{
        width: 15px;
    }
    
    .fa-instagram {
        background: rgb(251, 251, 198);
        color: #526b98;
        position: relative;
        top: 10px;
        left: -3.5%;
    }


    .fa {
        padding: 31px;
        font-size: 30px;
        width: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin-left: 92.9vh;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    .ig-btn{
        height: 10%;
        width: 5%;
        margin-left: 47%;
        position: absolute;
        background: #526b98;
        border-radius: 50%;
        box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
        -webkit-box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
        -moz-box-shadow: 4px 11px 58px 3px rgba(0,0,0,0.7);
    }
    
    .fa-google{
        background: rgb(251, 251, 198);
        color: #526b98;
    margin-top: 10px;
        position:relative;
        top: 10px;
        transition: background-color 0.5s ease-in 0.3s;
        left: -48%;
    }




    .clanocek{
        width: 42%;
        height: 31%;
        margin-top: 10%;
        font-weight: 400;
        font-size: 160%;
        margin-left: 3%;
    }

    .hats{
        color: antiquewhite;
        font-size: 90%;
        width: 250px;
        height: 120px;
        background-color: rgb(24, 20, 44);
        
        margin: 0;
        position: absolute;
        left: 35%;
        top: 16%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .tops{
        color: antiquewhite;
        font-size: 90%;
        width: 250px;
        height: 270px;
        background-color: rgb(24, 20, 44);
        
        margin: 0;
        position: absolute;
        left: 35%;
        top: 37%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    
    .shoes{
        color: antiquewhite;
        font-size: 90%;
        width: 250px;
        height: 240px;
        background-color: rgb(24, 20, 44);
        
        margin: 0;
        position: absolute;
        left: 35%;
        top: 88.2%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .image-box {
        width: 230px;
        height: 240px;
        background-color: rgb(24, 20, 44);
        text-align: center;
    }

    .image-fit {
        
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .hats{
        color: antiquewhite;
        font-size: 90%;
        width: 250px;
        height: 250px;
        background-color: rgb(24, 20, 44);
        object-fit: cover;
        
        margin: 0;
        position: absolute;
        left: 35%;
        top: 16%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .image-fit-ciapka{
        width: 150px;
        margin-left: 22%;
        margin-top: 12%;
    }

    .people{
    float:none;
    width: 40%;
    display:block;
    }